<div ng-if="successMessage" class="alert alert-success">{{ successMessage }}</div>
<div ng-if="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Backoffice</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Nom</label>
      <div class="col-md-4">
        <input id="name" ng-model="form.name" name="name" type="name" placeholder="Coiff'Hair" class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="place">Lieu</label>
      <div class="col-md-4">
        <input id="place" ng-model="form.place" name="place" type="place" class="form-control input-md" googleplace />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="gps">GPS</label>
      <div class="col-md-4">
        <input id="gps" ng-model="form.gps" name="gps" type="gps" value="3" class="form-control input-md" disabled/>

      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" ng-click="search()" name="submit" class="btn btn-primary">Search</button>
      </div>
    </div>

  </fieldset>
</form>

<div>
    <div ng-repeat="business in businesses" class="well">
        <h5>{{ business.name }} - {{ business.id }}</h5>
        <p>N° de tel : {{ business.phoneNumbers }}</p>
        <p>Adresse : {{ business.address }}</p>
        <p ng-if="business.thumbnail"><img src="{{ business.thumbnail }}" style="width:200px" /></p>
        <small>{{ business }}</small>
    </div>
</div>