<p ng-if="successMessage" class="bg-success">{{ successMessage }}</p>
<p ng-if="errorMessage" class="bg-danger">{{ errorMessage }}</p>

<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>New Password</legend>
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Password</label>
      <div class="col-md-4">
        <input id="password" ng-model="password" name="password" type="password" placeholder="New Password" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" ng-click="changePassword()" name="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

  </fieldset>
</form>
