<p>Hello <%= user.firstName %></p>

<p>You lost your password? No problem!</p>
<p>Click <a href="<%= resetUrl %>"> Here </a> to choose a new password, or paste this url in your favorite browser: <%= resetUrl %></p>