<p>Bonjour <%= booking.firstName + ' ' + booking.lastName %>,</p>

<p>Votre demande de réservation au salon <strong><%= business.name %> le <%= timeslot %></strong> a bien été prise en compte. Votre coiffeur reviendra vers vous dans les plus brefs délais ! </p>

<p>Merci beaucoup et à très vite !<br />L'équipe Hairfie</p>