<p>Bonjour <%= booking.firstName %>,</p>

<p>N'oubliez pas votre RDV chez <%= business.name %> le <%= dateTime %>.

<p>Vous avez une question, besoin d'une précision ou un peu de retard ? Contactez directement le salon au <%= business.phoneNumber %>
</p>

<p>Nous vous souhaitons un très agréable moment et vous remercions une nouvelle fois de la confiance que vous nous témoignez.</p>

<p>Vous êtes contraint(e) d'annuler votre RDV, envoyez simplement un email à hello@hairfie.com</p>

<p>L'équipe Hairfie</p>