<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
    <tr>
        <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
            <tbody class="mcnTextBlockOuter">
                <tr>
                    <td valign="top" class="mcnTextBlockInner">

                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
                            <tbody><tr>

                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                    <p><strong>Votre salon compte sur vous&nbsp;!</strong></p>

                                    <p><br>
                                        Bonjour,<br>
                                        <br>
                                        <span style="line-height:1.6">Alors... Comment s'est passé votre RDV chez le coiffeur ? L'équipe Hairfie et votre coiffeur sont soucieux de la qualité de votre RDV. Partagez-nous votre expérience ! </span>
                                        <br>
                                        <span style="line-height:1.6">Votre avis aidera également la communauté à mieux choisir son salon de coiffure. Cela ne prendra que quelques instants, c’est promis.</span>
                                        &nbsp;</p>
                                        <br>
                                        <p><strong><%= business.name %>&nbsp;:</strong></p>

                                        <p style="text-align: center;"><a href="<%= writeReviewUrl %>" target="_blank"><img align="none" height="50" src="https://gallery.mailchimp.com/900dbe8a5a2b32c27605ee8e4/images/5bf83501-6911-451d-bd0d-ff8b0b8caa82.png" style="width: 64px; height: 50px; margin: 0px;" width="64"><img align="none" height="50" src="https://gallery.mailchimp.com/900dbe8a5a2b32c27605ee8e4/images/5bf83501-6911-451d-bd0d-ff8b0b8caa82.png" style="width: 64px; height: 50px; margin: 0px;" width="64"><img align="none" height="50" src="https://gallery.mailchimp.com/900dbe8a5a2b32c27605ee8e4/images/5bf83501-6911-451d-bd0d-ff8b0b8caa82.png" style="width: 64px; height: 50px; margin: 0px;" width="64"><img align="none" height="50" src="https://gallery.mailchimp.com/900dbe8a5a2b32c27605ee8e4/images/5bf83501-6911-451d-bd0d-ff8b0b8caa82.png" style="width: 64px; height: 50px; margin: 0px;" width="64"><img align="none" height="50" src="https://gallery.mailchimp.com/900dbe8a5a2b32c27605ee8e4/images/5bf83501-6911-451d-bd0d-ff8b0b8caa82.png" style="width: 64px; height: 50px; margin: 0px;" width="64"></a><br>
                                            <br>
                                            ou</p>

                                        </td>
                                    </tr>
                                </tbody></table>

                            </td>
                        </tr>
                    </tbody>
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
                <tbody class="mcnButtonBlockOuter">
                    <tr>
                        <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
                            <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 3px;background-color: #FE5B5F;">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 15px;">
                                            <a class="mcnButton " title="Je dépose mon avis" href="<%= writeReviewUrl %>" target="_blank" style="font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Je dépose mon avis</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
            <tbody class="mcnTextBlockOuter">
                <tr>
                    <td valign="top" class="mcnTextBlockInner">

                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
                            <tbody><tr>

                                <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                    <p style="text-align: left;">Vos commentaires aideront la communauté à mieux choisir son coiffeur.<br>
                                        <br>
                                        Merci beaucoup !<br>
                                        <br>
                                        L'équipe Hairfie</p>

                                    </td>
                                </tr>
                            </tbody></table>

                        </td>
                    </tr>
                </tbody>
            </table></td>
        </tr>
    </table>
