<p>Bonjour,</p>

<p>Vous sortez de chez <%= business.name %>, êtes vous satisfait(e) ?</p>

<p>Donnez nous votre avis en vous rendant à l'adresse ci-dessous. Promis, ce ne sera pas long.</p>

<p><a href="<%= writeReviewUrl %>"><%= writeReviewUrl %></a></p>

<p>A très vite,</p>

<p>L'équipe Hairfie</p>
