<p>Bonjour,</p>

<p>Vous avez récemment confié vos cheveux à <%= business.name %>.</p>

<p>Partagez votre expérience, votre avis intéresse la communauté !<br /><a href="<%= writeReviewUrl %>">Déposez un avis</a>.</p>

<p>Merci beaucoup et à très vite !<br />L'équipe Hairfie</p>
