<p>Bonjour <%= user.firstName %>,</p>

<p>Bienvenue dans la communauté Hairfie.</p>

<p>Parce que vos cheveux sont importants, parce qu’aller chez le « bon » coiffeur devrait être à la fois un acte simple et évident nous avons imaginé pour vous Hairfie.</p>

<p>Avec Hairfie, vous pouvez désormais trouver et réserver la coupe, le brushing, la couleur, le tie and die... et le coiffeur qui vous correspondent, à partir de « vraies » photos (les fameux hairfies !).</p>

<p>Vous pourrez également baser votre choix sur des avis clients ou à partir de votre position géographique (pourquoi courir la ville quand le meilleur est peut être juste à côté ?), ou encore en fonction de la disponibilité...le tout au meilleur prix !</p>

<p>Allez chez le coiffeur en toute confiance, profitez de ce moment pour vous et surtout pensez à la communauté en postant un Hairfie du résultat.</p>

<p>Merci pour votre confiance,</p>

<p>A Bientôt,<br />
L'équipe Hairfie</p>
