<p class="lead">
    Hello <%= user.firstName %>, <br /><br />Thanks for joining the Hairfie community !<br /><br />

    Finding a good hairstylist shouldn't be a nightmare anymore. <br />

    Hairfie is a mobile application that makes it easy and simple to book a hairdresser in two clicks and find hairstyles you like, through hair pictures (our "hairfies"), reviews, transparent and fair prices.<br /><br />

    To begin with us, you can : <br />
    - Book a hairdresser near you<br />
    - Find inspiration browsing our awesome hairfies<br />
    - Share your first Hairfies !<br /><br />

    It's our first version, so don't hesitate to give us feedback: we'd love to hear from you ! <br />

    See you very soon, <br /><br />

    The Hairfie Team<br />
</p>
