<p>Bonjour <%= user.firstName %>,</p>

<p>Vous êtes un membre actif de l'équipe du salon "<%= business.name %>".
Félicitions et bienvenue sur Hairfie, le site et l'application qui mettent votre talent en avant.</p>

<p>Le fonctionnement est à la fois gratuit et très simple : lorsque vous êtes content de votre travail, photographiez votre client, en vous assurant qu'il soit d'accord au préalable, et publiez cet "Hairfie" sur l'application. Ce dernier sera ensuite relié à votre salon et à vous, donnant ainsi envie à d'autres futurs clients de vous découvrir et de réserver chez vous.</p>

<p>Vous le savez mieux que personne, pour un client aller chez le coiffeur c'est du "temps pour soi", "une parenthèse de tranquillité"... et surtout un sentiment de "confiance en soi" quand il regarde le résultat.</p>

<p>
    Alors souvenez-vous de ces quelques astuces pour bien photographier vos clients :
    <ul>
        <li>Mettez-les à l'aise,</li>
        <li>Dites leur que c'est la coupe, le travail effectué que vous souhaitez prendre en photo,</li>
        <li>Ne prenez pas une photo de face mais plus de 3/4 ou de profil,</li>
        <li>Envoyez leur cet hairfie afin qu'il puisse garder un beau souvenir et vous donne leur avis sur leur expérience,</li>
        <li>Si le client ne veut pas, ce n'est pas grave... Il y en aura d'autres !</li>
</p>

<p>Vous pouvez d'ores et déjà poster vos premiers hairfies sur l'application, et gérer votre profil sur le lien suivant : <a href="http://www.hairfie.com/pro">www.hairfie.com/pro.</a></p>

<p>A vous de jouer ! </p>

<p>Tout l'équipe Hairfie vous souhaite une excellente journée !</p>