<p class="lead">
    Bonjour <%= user.firstName %>, <br /><br />Bienvenue dans la communauté des Hairfitters.<br /><br />

    Vos cheveux sont importants, Hairfie vous simplifie la vie en prenant vos cheveux au sérieux. <br />

    Grâce à Hairfie, vous pouvez désormais trouver et réserver la coupe et le coiffeur qui vous correspondent, à partir de photos de coupes et coiffures (les fameux hairfies !), mais aussi à partir d'avis, de votre position géographique, et de bien d'autres critères... le tout au meilleur prix !<br /><br />

    Pour commencer, vous pouvez déjà : <br />
    - Réserver n'importe quel coiffeur près de chez vous<br />
    - Trouver de l'inspiration en explorant notre galerie de hairfies<br />
    - Poster vos premiers Hairfies !<br /><br />

    N'ayez plus peur d'aller chez le coiffeur. <br />

    N'hésitez pas à nous donner un retour sur votre expérience utilisateur. <br />

    A très vite, <br /><br />

    L'équipe Hairfie<br />
</p>
